CHECKOUT_DOMAIN=''
CARD_DOMAIN=''
APP_REDIRECT_DOMAIN=''
DEEPLINK_DOMAINS=''
CHECKOUT_API_BASE_URL=''
DASHBOARD_API_BASE_URL=''
RIMBA_API_BASE_URL=''
ORIGIN_HEADER=''

DEFAULT_PHONE_COUNTRY_CODE='+32'