# API Base URLs
CHECKOUT_API_BASE_URL=''
RIMBA_API_BASE_URL=''
SESSION_API_BASE_URL=''

# App Configuration
APP_REDIRECT_DOMAIN=''
APP_ALIAS=''
DEFAULT_COMMUNITY_ALIAS=''

# Domain Configuration
CHECKOUT_DOMAIN=''
CARD_DOMAIN=''

# Routing
DEEPLINK_DOMAINS=''

# Monerium Integration
MONERIUM_CLIENT_ID=''
MONERIUM_CLIENT_SECRET=''
MONERIUM_REDIRECT_URI='rimba://monerium'
MONERIUM_BASE_URL='https://api.monerium.dev'

# WalletConnect
WALLETCONNECT_PROJECT_ID=''
